# Ignore all files in the diederichsen-and-hatton directory, except for the Allplot files and the data.csv files
**/diederichsen-and-hatton/**/*
!**/diederichsen-and-hatton/**/
!**/diederichsen-and-hatton/**/initialise.sh
!**/diederichsen-and-hatton/**/overview
!**/diederichsen-and-hatton/**/ref*.csv
!**/diederichsen-and-hatton/template/**

**/fcn-krxn/**/*
!**/fcn-krxn/**/
!**/fcn-krxn/**/overview
!**/fcn-krxn/**/All*
!**/fcn-krxn/**/0.orig
!**/fcn-krxn/**/constant
!**/fcn-krxn/**/system

**/linux64*
**/lnInclude